<div class="card card-shadow">
    <div class="card-header bold font-12">
        POSIÇÃO DO INVESTIDOR
    </div>

    <div class="card-block card-sm gray1 padding-10">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="center">IDENTIFICAÇÃO</th>
                    <th class="center">SALDO CONTA CORRENTE</th>
                    <th class="center">SALDO INVESTIMENTO</th>
                    <th class="center">SALDO DISPONIVEL TOTAL</th>
                    <th class="center">SALDO DISPONIVEL RESGATE</th>
                </tr>
            </thead>
            <tbody>
                <td class="center">99999999999 (A)</td>
                <td class="center">R$ 0,00</td>
                <td class="center">R$ 0,00</td>
                <td class="center">R$ 0,00</td>
                <td class="center">R$ 0,00</td>
            </tbody>
        </table>
    </div>
</div>