<div class="row">
    <div class="col">  
        <button class="btn btn-info" (click)="exibir(1)">PROPONENTE</button>
        <button class="btn btn-info" (click)="exibir(3)">CÔNJUGE</button>
        <button class="btn btn-info" (click)="exibir(2)">AVALISTA</button>        
    </div>
</div>

<consultas-externas-cetip-financiamentos *ngIf="financiamento" [financiamentos]="cetip?.financiamentos"></consultas-externas-cetip-financiamentos>
<spinner [loading]='loading' [fullScreen]='true'></spinner>