<div class="clearfix margin-top-15"></div>
<ul class="nav nav-pills nav-pills-sm" id="pills-tab-bacen-pessoa" role="tablist">
    <li class="nav-item font-12 bold">
        <a (click)="exibir(1)" class="nav-link active" id="pills-bacen-pessoa-proponente-tab" data-toggle="pill" href="#pills-bacen-pessoa-proponente"
            role="tab" aria-controls="pills-bacen-pessoa-proponente" aria-selected="true">PROPONENTE</a>
    </li>
    <li class="nav-item font-12 bold">
        <a (click)="exibir(2)" class="nav-link" id="pills-bacen-pessoa-avalista-tab" data-toggle="pill" href="#pills-bacen-pessoa-avalista"
            role="tab" aria-controls="pills-bacen-pessoa-avalista" aria-selected="false">AVALISTA</a>
    </li>
</ul>

<div class="clearfix margin-top-15"></div>
<consultas-externas-bacen-fluxo [fluxo]="bacen?.bacenFluxo"></consultas-externas-bacen-fluxo>
<consultas-externas-bacen-modalidade [bacenModalidade]="bacen?.bacenModalidade"></consultas-externas-bacen-modalidade>
<consultas-externas-bacen-historico [historicos]="bacen?.bacenHistorico"></consultas-externas-bacen-historico>

<modal-alert class="modal-common" titulo="Atenção" [mensagem]="mensagem" *ngIf="exibirModal" (fecharModal)="fecharModal($event)"></modal-alert>
<spinner [loading]='loading' [fullScreen]='true'></spinner>