<div class="col-sm-4">
    <div class="h5 bold safra-text-cor divider small margin-top-5">Conceito</div>
    <div class="circle-label-sm green bold margin-top-5">
        {{ conceito?.conceito }}
    </div>
</div>
<div class="col-sm-4">
    <div class="h5 bold safra-text-cor divider small margin-top-5">Score Ext.</div>
    <div class="circle-label-sm gray-dark1 bold margin-top-5">
        {{ conceito?.score }}
    </div>
</div>
<div class="col-sm-4">
    <div class="h5 bold safra-text-cor divider small margin-top-5">Perda Esp.</div>
    <div class="circle-label-sm gray-dark1 bold margin-top-5">
        {{ conceito?.perdaEsperada }}%
    </div>
</div>