<div class="row">
        <div class="col">
            <button class="btn btn-info" (click)="exibir(1)">PROPONENTE</button>
            <button class="btn btn-info" (click)="exibir(3)">CÔNJUGE</button>
            <button class="btn btn-info" (click)="exibir(2)">AVALISTA</button>
        </div>
    </div>
    
    <div class="card card-safra-cor margin-top-20" *ngFor="let item of portal">
        <div class="card-header bold">
            {{ item?.instituicao }}
        </div>
    
        <div class="card-block gray">
            <div class="row">
                <div class="col-3 padding-8">
                    <span class="label">NOME</span>
                </div>
                <div class="col-9 padding-8">
                    <div class="label-text">{{ item?.nome }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 padding-8">
                    <div class="label">POSSUI HIST. DE AFASTAMENTO?</div>
                </div>
                <div class="col-9 padding-8">
                    <div class="label-text">{{ item?.historicoDeAfastamento == true ? 'SIM' : 'NÃO' }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 padding-8">
                    <div class="label">REMUN. BÁS. BRUTA - JAN/18</div>
                </div>
                <div class="col-9 padding-8">
                    <div class="label-text">{{ item?.primeiraRemuneracaoBasicaBruta | currency:'BRL':true }}</div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-3 padding-8">
                    <div class="label">REMUN. BÁS. BRUTA - DEZ/17</div>
                </div>
                <div class="col-9 padding-8">
                    <div class="label-text">{{ item?.segundaRemuneracaoBasicaBruta | currency:'BRL':true }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 padding-8">
                    <div class="label">REMUN. BÁS. BRUTA - NOV/17</div>
                </div>
                <div class="col-9 padding-8">
                    <div class="label-text">{{ item?.terceiraRemuneracaoBasicaBruta | currency:'BRL':true }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <modal-alert class="modal-common" titulo="Atenção" [mensagem]="mensagem" *ngIf="exibirModal" (fecharModal)="fecharModal($event)"></modal-alert>
    <spinner [loading]='loading' [fullScreen]='true'></spinner>