<div class="row">
        <div class="col">
            <button class="btn btn-info" (click)="exibir(1)">PROPONENTE</button>
            <button class="btn btn-info" (click)="exibir(3)">CÔNJUGE</button>
            <button class="btn btn-info" (click)="exibir(2)">AVALISTA</button>
        </div>
    </div>
    
    <div class="card card-safra-cor margin-top-20" *ngFor="let item of rais">
        <div class="card-header bold">
            {{ item?.empresa }}
        </div>
    
        <div class="card-block gray">
            <div class="row">
                <div class="col-3 padding-8"><span class="label">CNPJ</span></div>
                <div class="col-9 padding-8"><div class="label-text">{{ item?.cnpj }}</div></div>
            </div>
            <div class="row">
                <div class="col-3 padding-8"><div class="label">DATA DA ADMISSÃO</div></div>
                <div class="col-9 padding-8"><div class="label-text">{{ item?.dtAdmissao | date: 'dd/MM/yyyy' }}</div></div>
            </div>
            <div class="row">
                    <div class="col-3 padding-8"><div class="label">DATA DESLIGAMENTO</div></div>
                    <div class="col-9 padding-8"><div class="label-text">{{ item?.dtDesligamento | date: 'dd/MM/yyyy' }}</div></div>
                </div>
            </div>
    </div>
    
    <modal-alert class="modal-common" titulo="Atenção" [mensagem]="mensagem" *ngIf="exibirModal" (fecharModal)="fecharModal($event)"></modal-alert>
    <spinner [loading]='loading' [fullScreen]='true'></spinner>