<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMesaConsultasInternasService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://mt465330:1055/MesaConsultasInternasService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMesaConsultasInternasService"
                contract="ServicesReference.MesaConsultasInternasService.IMesaConsultasInternasService"
                name="NetTcpBinding_IMesaConsultasInternasService" />
        </client>
    </system.serviceModel>
</configuration>