<div class="card card-safra-cor margin-top-20">
    <div class="card-header bold">
        PROFISSÃO / CARGO
    </div>
    <div class="card-block gray" *ngFor="let cargo of cargos">
        <!-- <div class="row">
            <div class="col-2"><span class="label">CREDD</span></div>
            <div class="col-10"><span class="label-text">{{ cargo?.profissao }}</span></div>
        </div> -->
        <div class="row">
            <div class="col-2"><span class="label">ZIPCODE</span></div>
            <div class="col-10"><span class="label-text">{{ cargo?.profissao }} <span *ngIf="cargo?.cargo != null">- {{ cargo?.cargo }}</span></span></div>
        </div>
    </div>
</div>