<div class="well">
    <div class="row">
        <div class="col-sm-7">
            <label class="label">Revenda:</label><br />
            <div class="label-text font-10">{{ dados?.revenda }}</div>                                                
        </div>
        <div class="col-sm-5">
            <label class="label">Classificação:</label><br />
            <div class="label-text small">{{ dados?.classificacao }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <label class="label">Digitador:</label><br />
            <div class="label-text small">{{ dados?.digitador }}</div>
        </div>
        <div class="col-sm-5">
            <label class="label">Canal:</label><br />
            <div class="label-text small">{{ dados?.canal }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <label class="label">Operador:</label><br />
            <div class="label-text small">{{ dados?.operador }}</div>
        </div>
        <div class="col-sm-5">
            <label class="label">Telefone:</label><br />
            <div class="label-text small">{{ dados?.operadorTelefone }}</div>
        </div>
    </div>
</div>
