<div class="container-fluid">
    <div class="row h6 black white-text center padding-5">
        <div class="col-sm-12 center bold">FILA PESSOAL</div>
    </div>

    <table class="table">
        <thead class="h6">
            <th>Proposta</th>
            <th>Produto</th>
            <th>Fila</th>
            <th>Proponente</th>
            <th>CPF/CNPJ</th>
            <th>Prioridade</th>
            <th>Data Inclusão</th>
            <th>Última Ação</th>
            <th class="center">Ações</th>
        </thead>

        <tr *ngFor="let item of filaPessoal" [ngClass]='getColor(item.id_status_analise)'>
            <td data-tooltip="Código para envio do fax: 3871157">{{ item.id_proposta }}</td>
            <td>{{ item.ds_produto }}</td>
            <td>{{ item.id_fila }}</td>
            <td>{{ item.nm_cliente_rsoc }}</td>
            <td>
                <div *ngIf="item.id_cliente.toString().length === 11">{{ item.id_cliente | cpfMask }}</div>
                <div *ngIf="item.id_cliente.toString().length > 11">{{ item.id_cliente | cnpjMask }}</div>
            </td>
            <td>{{ item.id_prioridade }}</td>
            <td>{{ item.dt_inclusao | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{ item.ds_motivo }}</td>
            <td class="right">
                <i *ngIf="item.fl_retorno === 1" class="material-icons margin-lateral-5 icon-sm green-text">&#xE5CA;</i>
                <i *ngIf="item.fl_retorno != 1" class="material-icons margin-lateral-5 icon-sm white-text">&#xE88C;</i>
                <!-- <i class="material-icons margin-lateral-5 icon-sm">insert_photo</i> -->
                <filapessoal-proposta-acompanhamento [idProposta]='item.id_proposta' [tpMesa]='item.tp_mesa' data-placement="left" title="Histórico de análise"></filapessoal-proposta-acompanhamento>
                <i class="material-icons margin-lateral-5 icon-sm" *ngIf="!popup" (click)="visualizarProposta(item.id_proposta)" data-placement="left" title="Visualizar proposta">visibility</i>
                <i class="material-icons margin-lateral-5 icon-sm" *ngIf="!popup" (click)="editarProposta(item.id_proposta)" data-placement="left" title="Editar proposta">redo</i>
            </td>
        </tr>
    </table>
</div>

<modal-alert class="modal-common" titulo="Atenção" [mensagem]="mensagem" *ngIf="exibirModal" (fecharModal)="fecharModal($event)"></modal-alert>