<div class="container-fluid">
    <header>
        <div class="row safra-cor">
            <div class="col-sm-9">
                <logo></logo>
            </div>
            <div class="col-sm-2 blue-dark">
                <div class="row">
                    <div class="col-sm-6 white-text">{{ usuario?.nome }}</div>
                    <div class="col-sm-6 white-text">{{ dateTime | date: 'dd/MM/yyyy' }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6 white-text">ID: {{ usuario?.codigo }}</div>
                    <div class="col-sm-6 white-text">{{ dateTime | date: 'HH:mm' }}</div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </header>
</div>