<div class="well perfil-card">
    <div class="row divider">
        <div class="col-md-12">
            <div class="title-perfil safra-cor-text bold">Profissão do Avalista</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="margin-vertical-5">
                <label class="label">Ocupação:</label>
                <div class="label-text">
                    <button [disabled]="!avalista.ocupacaoPassivelAlteracao" (click)="editarOcupacao()" class="btn btn-link" role="link">{{ avalista.ocupacao }}</button>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Empresa:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.profissaoEmpresa" placeholder="" min="{{ perfilObrigatorio.empresaObrigatorio == true ? 2 : 0 }}"
                        empty="N/I" (onSave)="gravar(avalista)" (onError)="handleError($event)" name="avalistaEmpresa"></inline-editor>
                </div>
            </div>
            <!-- <div class="margin-vertical-5">
                <label class="label">Data de Admissão:</label>
                <div class="label-text">
                    <inline-editor type="text" data-toggle="datepicker" [ngModel]="avalista.dtAdmissao | date: 'dd/MM/yyyy'" empty="N/I" (onSave)="gravarDtAdmissao($event)"
                        min="{{ perfilObrigatorio.dtAdmissaoObrigatorio == true ? 10 : 0 }}" max="10" (onError)="handleError($event)"></inline-editor>
                </div>
            </div> -->
            <div class="margin-vertical-5">
                <label class="label">CNPJ:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.cnpjEmpresa" placeholder="" empty="N/I" (onSave)="gravar(avalista)" min="{{ perfilObrigatorio.cnpjObrigatorio == true ? 14 : 0 }}"
                        max="18" (onError)="handleError($event)" name="avalistaCnpjEmpresa" id="avalistaCnpjEmpresa" pattern="^[0-9]{2}.[0-9]{3}.[0-9]{3}\[0-9]{4}-[0-9]{2}|[0-9]{14}$"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Cep:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.profissaoCep" placeholder="" empty="N/I" (onSave)="getEndereco($event)"
                        min="{{ perfilObrigatorio.enderecoObrigatorio == true ? 8 : 0 }}" (onError)="handleError($event)" name="cep"
                        max="9" pattern="^[0-9]{5}-[0-9]{3}|^[0-9]{8}$" id="cep" size="8"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Endereço:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.profissaoLogradouro" placeholder="" empty="N/I" (onSave)="gravar(avalista)"
                        min="{{ perfilObrigatorio.enderecoObrigatorio == true ? 2 : 0 }}" (onError)="handleError($event)" name="profissaoLogradouro"
                        max="60" pattern="^[a-zA-Z0-9_ ]{1,60}$" id="profissaoLogradouro" size="30"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Número:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.profissaoNumero" placeholder="" empty="N/I" (onSave)="gravar(avalista)"
                        min="{{ perfilObrigatorio.enderecoObrigatorio == true ? 1 : 0 }}" (onError)="handleError($event)" name="profissaoNumero"
                        max="5" pattern="^[0-9]{1,5}$" id="profissaoNumero" size="10"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Complemento:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.profissaoComplemento" placeholder="" empty="N/I" (onSave)="gravar(avalista)"
                        min="0" (onError)="handleError($event)" name="profissaoComplemento" max="30" pattern="^[a-zA-Z0-9_ ]{1,60}$"
                        id="profissaoComplemento" size="30"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Bairro:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.profissaoBairro" placeholder="" empty="N/I" (onSave)="gravar(avalista)"
                        min="3" (onError)="handleError($event)" name="profissaoBairro" max="30" pattern="^[a-zA-Z0-9_ ]{1,60}$"
                        id="profissaoBairro" size="30"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Cidade:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.profissaoCidade" placeholder="" empty="N/I" (onSave)="gravar(avalista)"
                        name="profissaoCidade" min="{{ perfilObrigatorio.enderecoObrigatorio == true ? 2 : 0 }}" max="30" (onError)="handleError($event)"
                        id="profissaoCidade" size="10"></inline-editor>
                    &nbsp;-&nbsp;
                    <inline-editor type="select" [disabled]="readonly" empty="N/I" [(ngModel)]="avalista.profissaoIdEstado" (onSave)="gravar(avalista)" [options]="listaEstados"></inline-editor>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="margin-vertical-5">
                <label class="label">Profissão:</label>
                <div class="label-text">
                    <button (click)="editarOcupacao()" [disabled]="readonly" class="btn btn-link" role="link">{{ avalista.profissao }}</button>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Cargo/Ramo Ativ:</label>
                <div class="label-text">
                    <inline-editor type="select" [disabled]="readonly" [(ngModel)]="avalista.profissaoIdCargo" (onSave)="gravar(avalista)" [options]="listaCargos"
                        value="valor" size="20"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Telefone:</label>
                <div class="label-text">
                    (
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.profissaoDdd" placeholder="" empty="N/I" (onSave)="gravar(avalista)" (onError)="handleError($event)"
                        min="2" max="2" pattern="^[0-9]{2}$" name="profissaoDdd"></inline-editor>)
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.profissaoTelefone" placeholder="" empty="N/I" (onSave)="gravar(avalista)"
                        (onError)="handleError($event)" min="6" max="12" pattern="^[0-9]{1,12}$" name="profissaoTelefone"></inline-editor>
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.profissaoRamal" placeholder="" empty="N/I" (onSave)="gravar(avalista)" (onError)="handleError($event)"
                        min="0" max="12" pattern="^[0-9]{1,12}$" name="profissaoRamal"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Renda Mensal:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="strRenda" placeholder="" empty="N/I" (onSave)="gravar(avalista)" name="strRenda"
                        min="1" max="14" (onError)="handleError($event)" id="strRenda"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Renda Adicional:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="strRendaAdicional" placeholder="" empty="N/I" (onSave)="gravar(avalista)" min="1"
                        max="14" (onError)="handleError($event)" name="strRendaAdicional" id="strRendaAdicional"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Fonte de Renda Adicional:</label>
                <div class="label-text">TODO</div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Renda Total:</label>
                <div class="label-text">{{ avalista?.rendaTotal | currency:'BRL':true }}</div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Renda Presumida:</label>
                <div class="label-text">TODO</div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">Pessoa Política:</label>
                <div class="label-text">
                    <inline-editor type="select" [disabled]="readonly" empty="N/I" [(ngModel)]="avalista.pessoaPolitica" (onSave)="gravar(avalista)"
                        [options]="listaPessoaPolitica" value="valor"></inline-editor>
                </div>
            </div>
            <div class="margin-vertical-5">
                <label class="label">PPE Relacionado:</label>
                <div class="label-text">
                    <inline-editor type="select" [disabled]="readonly" empty="N/I" [(ngModel)]="avalista.pessoaRelacaoPolitica" (onSave)="gravar(avalista)"
                        [options]="listaPessoaRelacaoPolitica" value="valor"></inline-editor>
                </div>
            </div>
        </div>
    </div>
</div>

<perfil-profissao-avalista-edicao [idProposta]="idProposta" [avalista]="avalista" *ngIf="exibirModalPerfilProfissional" (changeExibirModal)="changeModalProfissional($event)"
    (atualizarAvalista)="atualizarAvalista($event)"></perfil-profissao-avalista-edicao>

<cep-cidade *ngIf="exibirModalEnderecoCidade" [idProposta]="idProposta" [endereco]="cepCidade" [classe]="classe" [origem]="origem" (atualizarModal)="fecharModalEnderecoCidade($event)" ></cep-cidade>

<modal-alert class="modal-common" titulo="Atenção" [mensagem]="mensagem" *ngIf="exibirModal" (fecharModal)="fecharModal($event)"></modal-alert>