<div class="well operacao-well">
    <h4 class="safra-cor-text bold">Perfil da Operação</h4>
    <div class="row">
        <div class="col-sm-4"><span class="label">Ano/Modelo:</span></div>
        <div class="col-sm-8">{{ dados?.anoFabricacao }}/{{ dados?.anoModelo }}</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><span class="label">Marca:</span></div>
        <div class="col-sm-8">{{ dados?.marca }}</div>
    </div>                        
    <div class="row">
        <div class="col-sm-4"><span class="label">Modelo:</span></div>
        <div class="col-sm-8">{{ dados?.modelo }}</div>
    </div>                         
    <div class="row">
        <div class="col-sm-4"><span class="label">Versão:</span></div>
        <div class="col-sm-8"><span class="small">{{ dados?.versao }}</span></div>
    </div>  
    <div class="row">
        <div class="col-sm-4"><span class="label">Placa:</span></div>
        <div class="col-sm-8">{{ dados?.placa }}</div>
    </div> 
    <div class="row">
        <div class="col-sm-4"><span class="label">Quilometragem:</span></div>
        <div class="col-sm-8">{{ dados?.quilometros }}</div>
    </div>                                                                                                                                                                               
</div>