<div class="card card-safra-cor">
    <div class="card-header bold">
        RESTRIÇÕES
    </div>
    <div class="row">
        <div class="col-2 bold">DATA</div>
        <div class="col-2 bold">MODALIDADE</div>
        <div class="col-6 bold">INSTITUIÇÃO</div>
        <div class="col-2 bold">VALOR</div>
    </div>
    <div class="card-block gray" *ngFor="let restricao of restricoes">
        <div class="row">
            <div class="col-2">{{ restricao?.data | date: 'dd/MM/yyyy' }}</div>
            <div class="col-2">{{ restricao?.modalidade }}</div>
            <div class="col-6">{{ restricao?.instituicao }}</div>
            <div class="col-2">{{ restricao?.valor | currency: 'BRL':true }}</div>
        </div>
    </div>
</div>