<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMesaCreditoTokenService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://mt465330:1055/MesaCreditoTokenService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMesaCreditoTokenService"
                contract="ServicesReference.MesaCreditoTokenService.IMesaCreditoTokenService"
                name="NetTcpBinding_IMesaCreditoTokenService" />
        </client>
    </system.serviceModel>
</configuration>