@{
    ViewData["Title"] = "Mesa de Crédito";
}
<div class="container-fluid">
    <header>
        <div class="row safra-cor">
            <div class="col-sm-12 white-text left-20">
                <img src='/assets/images/logo_safra_auto.png' class='img-header' />
            </div>
        </div>
    </header>
</div>

<div class="centered">
    <div class="well well-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-2">
                    <i class="material-icons md-80">pan_tool</i>
                </div>
                <div class="col-sm-4 text-center">
                    <h2>Acesso negado</h2>
                </div>
            </div>
        </div>
    </div>
</div>