<div class="jumbotron jumbotron-sm gray1 margin-top-25 card-shadow">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="center bold border-right"><div class="label">DATA DO CADASTRO</div></th>
                <th class="center bold border-right"><div class="label">CLIENTE DESDE</div></th>
                <th class="center bold border-right"><div class="label">GRUPO DE CLIENTES</div></th>
            </tr>
        </thead>
        <tbody>
            <tr class="gray">
                <td class="center bold border-right">{{ resumoCCL.dataCadastro | date: 'dd/MM/yyyy'}}</td>
                <td class="center bold border-right">{{ resumoCCL.clienteDesde | date: 'dd/MM/yyyy'}}</td>
                <td class="center bold border-right">{{ resumoCCL?.grupoCliente }}</td>
            </tr>
        </tbody>
    </table>
</div>