<div class="well perfil-card">
    <div class="row divider">
        <div class="col-md-6">
            <div class="title-perfil safra-cor-text bold">Perfil do Avalista</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="margin-vertical-5">
                <label class="label">Nome:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.nome " empty="N/I" min="3" max="60" (onSave)="gravar($event)"
                        name="nome" pattern="^[a-zA-Z]{1,60}" placeholder="" (onError)="handleError($event, 'nome')"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">CPF:</label>
                <div class="label-text">{{ avalista?.cpf | cpfMask }}</div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Data de Nascimento:</label>
                <div class="label-text">
                    <inline-editor type="text" data-toggle="datepicker" [disabled]="readonly" [ngModel]="avalista.dataNascimento | date: 'dd/MM/yyyy'" (onSave)="gravarDtNascimento($event)"
                        value="valor" (onError)="handleError($event, 'data de nascimento')" placeholder="" min="10" name="dtNascimentoDateField"></inline-editor> ({{ avalista.idade }} ANOS)
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Nome da Mãe:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.nomeMae " empty="N/I" (onSave)="gravar($event)" (onError)="handleError($event, 'nome da mãe')"
                        min="3" max="60" pattern="^[a-zA-Z]{1,60}" placeholder="" name="nomeMae"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Nome do Pai:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.nomePai" empty="N/I" (onSave)="gravar($event)"
                        (onError)="handleError($event, 'nome do pai')" min="0" max="60" max="60" pattern="^[a-zA-Z_ ]{1,60}$"
                        placeholder="" name="nomePai"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Estado Civil:</label>
                <div class="label-text">
                    <inline-editor type="select" empty="N/I" [disabled]="readonly" [(ngModel)]="avalista.idEstadoCivil" (onSave)="gravar($event)"
                        [options]="listaEstadosCivis"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Sexo:</label>
                <div class="label-text">
                    <inline-editor type="select" empty="N/I" [disabled]="readonly" [(ngModel)]="avalista.idSexo" (onSave)="gravar($event)" [options]="listaSexos"
                        value="valor"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Nacionalidade:</label>
                <div class="label-text">
                    <inline-editor type="select" empty="N/I" [disabled]="readonly" [(ngModel)]="avalista.idNacionalidade" (onSave)="gravar($event)"
                        [options]="listaNacionalidades"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Patrimônio informado:</label>
                <div class="label-text">
                    <inline-editor type="select" empty="N/I" [disabled]="readonly" [(ngModel)]="avalista.idFaixaPatrimonio" (onSave)="gravar($event)"
                        [options]="listaPatrimonios"></inline-editor>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="margin-vertical-5">
                <label class="label">CEP:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.cep " empty="N/I" (onSave)="getEndereco($event)" name="avalistaCep"
                        min="8" max="9" pattern="^[0-9]{5}-[0-9]{3}|^[0-9]{8}$" placeholder="" (onError)="handleError($event, 'cep')"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Endereço:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.logradouro " empty="N/I" (onSave)="gravar($event)"
                        name="avalistaLogradouro" min="3" max="60" pattern="^[a-zA-Z0-9_ ]{1,60}$" placeholder="" (onError)="handleError($event, 'endereço')"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Número:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.numero " empty="N/I" (onSave)="gravar($event)" name="avalistaNumero"
                        min="1" max="5" pattern="^[0-9]{1,5}$" placeholder="" (onError)="handleError($event, 'número')"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Complemento:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.complemento " empty="N/I" (onSave)="gravar($event)"
                        name="avalistaComplemento" max="30" placeholder="" (onError)="handleError($event, 'complemento')"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Cidade:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.cidade " empty="N/I" (onSave)="gravar($event)" name="avalistaCidade"
                        min="3" max="30" placeholder="" (onError)="handleError($event, 'cidade')"></inline-editor>
                    &nbsp;-&nbsp;
                    <inline-editor type="select" empty="N/I" [disabled]="readonly" [(ngModel)]="avalista.idEstado" (onSave)="gravar($event)"
                        [options]="listaEstados"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Bairro:</label>
                <div class="label-text">
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.bairro " empty="N/I" (onSave)="gravar($event)" name="bairro"
                        placeholder="" min="3" max="30" (onError)="handleError($event, 'bairro')"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Score do Endereço:</label>
                <div class="label-text">TODO: SCORE</div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Telefone Residencial:</label>
                <div class="label-text">
                    (
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.telefoneDdd" empty="N/I" (onSave)="gravar($event)"
                        name="avalistaTelefoneDdd" min="2" max="2" pattern="^[0-9]{2}$" placeholder="" (onError)="handleError($event, 'ddd residencial')"></inline-editor>)
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.telefoneNumero " empty="N/I" (onSave)="gravar($event)"
                        name="avalistaTelefoneNumero" min="6" max="12" pattern="^[0-9]{1,12}$" placeholder="" (onError)="handleError($event, 'telefone residencial')"></inline-editor>
                </div>
            </div>

            <div class="margin-vertical-5">
                <label class="label">Telefone Celular:</label>
                <div class="label-text">
                    (
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.celularDdd" empty="N/I" (onSave)="gravar($event)"
                        name="avalistaCelularDdd" min="2" max="2" pattern="^[0-9]{2}$" placeholder="" (onError)="handleError($event, 'ddd celular')"></inline-editor>)
                    <inline-editor type="text" [disabled]="readonly" [(ngModel)]="avalista.celularNumero " empty="N/I" (onSave)="gravar($event)"
                        name="avalistaCelularNumero" min="6" max="12" pattern="^[0-9]{1,12}$" placeholder="" (onError)="handleError($event, 'telefone celular')"></inline-editor>
                </div>
            </div>

        </div>
    </div>
</div>

<cep-cidade *ngIf="exibirModalEnderecoCidade" [idProposta]="idProposta" [endereco]="cepCidade" [classe]="classe" [origem]="origem" (atualizarModal)="fecharModalEnderecoCidade($event)" ></cep-cidade>

<modal-alert class="modal-common" titulo="Atenção" [mensagem]="mensagem" *ngIf="exibirModal" (fecharModal)="fecharModal($event)"></modal-alert>